<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.spring.project.shop.QuestionMapper">
		<insert id="addBoard" useGeneratedKeys="true" keyProperty="questionNum"
			parameterType="com.ezen.spring.project.shop.QuestionVO">
			INSERT INTO question VALUES(NULL, #{questionTitle}, #{questionAuthor}, NOW(),#{questionContents})
		</insert>
		<select id="getList"
			resultType="com.ezen.spring.project.shop.QuestionVO">
			SELECT * FROM question ORDER BY questionNum DESC
		</select>
		
		<select id="getBoard"
			parameterType="integer"
			resultType="com.ezen.spring.project.shop.QuestionVO">
			SELECT * FROM question WHERE questionNum=#{questionNum}	
		</select>
		
		<update id="updateQuestion" parameterType="com.ezen.spring.project.shop.QuestionVO">
			UPDATE question SET questionTitle=#{questionTitle}, questionContents=#{questionContents}
			WHERE questionNum=#{questionNum}
		</update>
		
		<delete id="deleteQuestion" parameterType="Integer">
    		DELETE FROM question WHERE questionNum=#{questionNum}
		</delete>
</mapper>